// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.site-header {
  background-size: cover;
  background-position: center;
  min-height: 14.1vw;
}
